@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

html {
	backdrop-filter: blur(3px);
	height: 100%;
	width: 100%;
	margin: 0;
}

body, .wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
	font-family: 'Noto Serif JP', sans-serif;
	color: black;
	margin: 0;
	background-color: white;
	width: 100%;
	height: 100%;
}
header{
	overflow: visivle;
}

a {
	color: rgb(62, 58, 57);
	text-decoration: none;
}

header a:hover {
	opacity: 0.5;
}

.container {
	justify-content: space-between;
	display: flex;
	margin: 0 auto;
}

main {
	width: 70%;
	margin: 90px 30px 0px;
	text-align: center;
}

.threadinfo {
	margin-right: 120px;
	margin-bottom: 70px;
	padding: 0 60px;
	width: 800px;
	height: 200px;
	border: solid 3px olive;
	text-align: center;
	font-size: 15px;
	border-radius: 12px;
	line-height: 40px;
	background-color: #d2cece12;
}

.threadinfo dt {
	font-size: 22px;
	border-bottom: solid 1px silver;
}

.threadinfo dd {
	line-height: 22px;
	margin-inline-start: 0;
}

.threadinfo dd.threadcreateuser {
	padding-top: 40px;
	text-align: right;
}

.threadinfo dd.explain {
	padding-top: 30px;
}

.allcomment ul {
	width: 93%;
	list-style: none;
	margin-right: 140px;
	border: solid 3px gray;
	padding-inline-start: 0;
	border-radius: 6px;
	background-color: #d2cece12;
}

.allcomment ul li.userandtime {
	text-align: left;
	line-height: 60px;
}

.allcomment ul li.comment {
	word-wrap: normal;
	line-height: 20px;
	padding-bottom: 20px;
	font-size: 18px;

}

.commentform {
	top: 40px;
	position: -webkit-sticky;
	position: sticky;
	margin-top: 105px;
	margin-right: 60px;
	padding: 0 30px 0px;
	width: 80%;
	height: 550px;
	border: solid 3px gray;
	text-align: center;
	font-size: 15px;
	border-radius: 12px;
	line-height: 40px;
	background-color: #d2cece12;
}

.formtitle {
	font-size: 16px;
}

.commentform dl {

}

.commentform dl dd {
	margin-inline-start: 0;
}

textarea {
	width: 100%;
	height: 250px;
	resize: none;
	border: solid 2px silver;
}

input {
	border: solid 2px silver;
}

.button {
	padding: 4px 30px;
	border: solid 2px silver;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	opacity: 0.8;
	color: black;
	background-color: white;
	border-radius: 10px;
	margin: 10px 30px;
	cursor: pointer;
}

.button:hover {
	background-color: white;
	border-color: black;
}

.solve {
	width: 160px;
}

#pageTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#pageTop i {
	padding-top: 6px
}

#pageTop a {
	display: block;
	z-index: 999;
	padding: 8px 0 0 8px;
	border-radius: 30px;
	width: 35px;
	height: 35px;
	background-color: #9FD6D2;
	color: rgb(62, 58, 57);
	font-weight: bold;
	text-decoration: none;
	text-align: left;
}

#pageTop a:hover {
	text-decoration: none;
	opacity: 0.7;
}

footer {
	text-align: right;
	margin-top: auto;
	font-size: 14px;
}

/*タブレット用の設定*/
@media screen and (max-width:1024px) {
		body html .wrapper {
		width: 100%;
		height: auto;
	}
	header {
		overflow: visible;
	}
	.container {
		width: 100%;
		display: flex;
		overflow: visible;
		flex-direction: column-reverse;
	}
	.wrapper {
		overflow: visible;
	}
	main {
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 10px 0px;
		display: column;
	}
	.commentform, .threadinfo, .allcomment {
		width: 90%;
		margin: 0 auto;
		padding: 5px;
	}
	.commentform {
	margin-top:80px;
		top: 0px;
		position: -webkit-sticky;
		position: sticky;
		width: 90%;
		height: 195px;
		border: solid 3px gray;
		text-align: center;
		font-size: 15px;
		border-radius: 12px;
		background-color: #d2cece12;
	}
	.allcomment{
	width:97%;
	margin:0 auto;
	}
	.userandtime{
	font-size: 14px;
	}
	.allcomment ul li.userandtime {
    line-height: 30px;
}
	.allcomment ul li.comment{
	text-align:left;
	font-size:13px;
	padding: 6px;
	}
	.formtitle, .postuser {
		display: none;
	}
	.commentform dt, .commentform dd {
		margin: 0 auto;
	}
	.threadinfo{
	height:auto;
	}
	.threadinfo dd.explain {
    padding-top: 0px;
}
.threadinfo dd.threadcreateuser {
    padding-top: 10px;
    text-align: right;
}
	textarea {
		width: 70%;
		height: 90px;
		resize: none;
		margin: 0 auto;
		border: solid 2px silver;
	}
	.threads, .side {
		width: 100%;
		margin: 0 auto;
	}
	.solve {
		width: 100px;
	}
	.languagelist ul {
		overflow-x: auto;
		white-space: nowrap;
	}
	.languagelist ul li {
		display: inline-block;
		width: 22%;
	}
	.username {
		font-size: 12px;
	}
	.threads ul {
		margin: 0 auto;
	}
	.threads {
		width: 90%;
		margin: 0 auto;
	}
	.side {
		width: 100%;
		margin: 0 auto;
	}
	.side a {
		border: solid 3px silver;
		border-radius: 8px;
		padding: 3px;
	}
	.side p {
		margin: 30px auto;
	}
	.search {
		display: flex;
		justify-content: center;
		margin-top: 15px;
	}
	.search p {
		margin: 10px 10px;
	}
	.button {
		margin: 0 auto;
	}
	dl {
		display: block;
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}
}

/*スマホ用の設定*/
@media screen and (max-width:480px) {
	body html .wrapper {
		width: 100%;
		height: auto;
	}
	header {
		overflow: visible;
	}
	.container {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
	}

	main {
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 10px 0px;
		display: column;
	}
	.threadinfo, .allcomment {
		width: 90%;
		margin: 0 auto;
		padding: 5px;
	}
	.commentform {
		margin-top:100px;
		padding:5px;
		position: -webkit-sticky;
		position: sticky;
		width: 90%;
		height: 195px;
		border: solid 3px gray;
		text-align: center;
		font-size: 15px;
		border-radius: 12px;
		background-color: #d2cece12;
	}
	.allcomment{
	width:97%;
	margin:0 auto;
	}
	.userandtime{
	font-size: 14px;
	}
	.allcomment ul li.userandtime {
    line-height: 30px;
}
	.allcomment ul li.comment{
	text-align:left;
	font-size:13px;
	padding: 6px;
	}
	.formtitle, .postuser {
		display: none;
	}
	.commentform dt, .commentform dd {
		margin: 0 auto;
	}
	.threadinfo{
	height:auto;
	}
	.threadinfo dd.explain {
    padding-top: 0px;
}
.threadinfo dd.threadcreateuser {
    padding-top: 10px;
    text-align: right;
}
	textarea {
		width: 70%;
		height: 90px;
		resize: none;
		margin: 0 auto;
		border: solid 2px silver;
	}
	.threads, .side {
		width: 100%;
		margin: 0 auto;
	}
	.solve {
		width: 100px;
	}
	.languagelist ul {
		overflow-x: auto;
		white-space: nowrap;
	}
	.languagelist ul li {
		display: inline-block;
		width: 22%;
	}
	.username {
		font-size: 12px;
	}
	.threads ul {
		margin: 0 auto;
	}
	.threads {
		width: 90%;
		margin: 0 auto;
	}
	.side {
		width: 100%;
		margin: 0 auto;
	}
	.side a {
		border: solid 3px silver;
		border-radius: 8px;
		padding: 3px;
	}
	.side p {
		margin: 30px auto;
	}
	.search {
		display: flex;
		justify-content: center;
		margin-top: 15px;
	}
	.search p {
		margin: 10px 10px;
	}
	.button {
		margin: 0 auto;
	}
	dl {
		display: block;
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}
}