@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');


html {
	backdrop-filter: blur(7px);
	height:100%;
	width: 100%;
	margin: 0;
}


body, .wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
	background-image: url("../image/adminbackground.jpg");
	background-size:cover;
	font-family: 'Noto Serif JP', sans-serif;
	color: black;
	width: 100%;
	height: 100%;
	margin:0;
}
.backbutton {
	padding: 2px 17px;
	border: solid 3px gray;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 12px;
	opacity: 0.8;
	background-color: white;
	border-radius: 10px;
	margin: 10px 30px;
}

.backbutton:hover {
	border-color: black;
	background-color: white;
}
h1{
	font-size: 22px;
}

main {
	width: 450px;
	margin: 80px auto;
	padding: 0px;;
	text-align: center;
	background-color: white;
	opacity: 0.8;
	color: black;
	border-radius: 12px;
}

th {
	border-bottom:double 2px silver;
	border-right:dashed 1px silver;
	padding:4px;
	width:300px;
	height:10px;
}
table{
	background-color:white;
	border:double 2px silver;
	border-collapse:  collapse;
	font-size: 13px;
	margin: 10px auto;
	border-radius: 12px;
	opacity: 0.8
}
.button {
	padding: 2px 17px;
	border: solid 3px gray;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 12px;
	opacity: 0.8;
	background-color: white;
	border-radius: 10px;
	margin: 10px 30px;
}

.button:hover {
	border-color: black;
	background-color: white;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
}
footer {
	color: white;
	text-align: right;
	font-size: 14px;
	margin-top: auto;
}

/*タブレット用の設定*/
@media screen and (max-width:1024px) {
	body html .wrapper{
		width: 100%;
		height: auto;
	}
	main {
		width: 75%;
		height: auto;
		margin: auto;
		padding: 50px 25px;
	}
	table {
	margin:10px auto;
	}
	table tr th{
	padding:15px 0px;
	}
	.solve {
		width: 40%;
		margin: 20px auto 0;
		padding-right: 0px;
	}
	.button{
	margin:0 auto -30px;
	}
	.deleteThread p{
	margin:45px 0px;
	}

}


/*スマホ用の設定*/
@media screen and (max-width:480px) {
	body html .wrapper{
		width: 100%;
		height: auto;
	}
	main {
		width: 75%;
		height: auto;
		margin: auto;
		padding: 10px 25px;
	}
	table {
	margin:10px auto;
	}
	table tr th{
	padding:15px 0px;
	}
	.button{
	margin:0 auto -40px;
	padding:7px 30px;
	}
	.deleteThread p{
	margin:45px 0px;
	}

}